<div>

  <h4>A침ade un libro</h4>

  <form action="/books/create" method="POST">
  {{!-- action es a donde va a enviar la data --}}
  {{!-- method es que tipo de llamada va a hacer => GET o POST --}}

    <label for="title">Titulo:</label>
    <input type="text" name="title">
    <br>
    <label for="description">Descripci칩n:</label>
    <input type="text" name="description">
    <br>
    <label for="author">Autor:</label>
    <input type="text" name="author">
    <br>
    <button type="submit">A침adir</button>
    {{!-- cuando el boton est치 dentro de un form, se comporta siempre como submit de forma predeterminada --}}

  </form>

</div>